<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/w3.css">
    <title>them phim</title>
</head>
<body>

<form class="w3-form w3-container" action="{{ url_for("themphim") }}" method="post">
    <div class="w3-container w3-blue">
        <h3>CẬP NHẬT PHIM VÀO DANH SÁCH</h3>
    </div>
    <label for="text">Tên phim</label><br>
    <input type="text" name="tenphim"><br>
    <label for="text">Thể loại</label><br>
    <input type="text" name="theloai"><br>
    <label for="text">Thời lượng</label><br>
    <input type="text" name="thoiluong"><br>
    <label for="url">Đường dẫn</label><br>
    <input type="url" name="duongdan"><br>
    <label for="image">Ảnh</label><br>
    <input type="image" name="anh"><br>




</form>



</body>
</html>